.input-style{
    width: 15vw;
    padding: 1.5vh;
    margin: 1vh;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .select-input-style{
    height: 5vh;
    width: 10vw;
    margin: 1vh;
    background-color: aquamarine;
    color: black;
    border-radius: 2px;
    border: none;
  }